@charset "UTF-8";

/* em HTML é id = em CSS é #
em HTML é class = em CSS é . */

body {
    background-color: rgba(218, 246, 177, 0.566);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(10, 85, 3);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(1, 149, 36)
}

.basico {
    color: green;
}

.intermediario {
    color: yellow
}

.avancado {
    color: red
}

.destaque {
    background-color: rgba(190, 190, 0, 0.596);
}